# Node.js dependencies
/node_modules
npm-debug.log*
yarn-error.log

# Documentation files
# These are not required to run the game.
*.md

# Environment variables
# Should not be committed to the repository.
.env